<?xml version='1.0' encoding='utf-8'?>
<widget id="d2apps.keymaker" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>KeyMaker</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
   <content src="index.html" />
    
	<preference name="DisallowOverscroll" value="true" />    
    <preference name="Orientation" value="portrait" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="4000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value=".25" />
	
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
		<preference name="BackupWebStorage" value="local" />
    	<preference name="SupressesIncrementalRendering" value="true" />
    	<preference name="GapBetweenPages" value="0" />

		<preference name="BackupWebStorage" value="local" />  	
		<preference name="UIWebViewBounce" value="false" />
		
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
	
	<plugin name="cordova-plugin-whitelist" spec="1" />
	
	<allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	
	<allow-navigation href="*"/>
	<access origin="*" />
</widget>
